
           			
 					 .home h1{
 									text-align:center;
 									color:#00c6ff;
 									font-size:50px;
 									font-family:poppins;}
 
                           .home p{text-align:center;
                                           font-size:
                                           20px;
                                         
                                     font-family:poppins;
                                
     ;}
     
     
     .home{background:islandlogo.jpg;}
         
.home .a{text-align:center;}

h1{color:#87ff74}
